{# Shared layout for pre-login pages: login, register, forgot password, etc. #}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Quiver - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tracker/css/auth_base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
 
<body>
 
    <div class="auth-container">
 
        <div class="logo-card">
            <img
                src="{% static 'tracker/images/QuiverLightLogo.png' %}"
                alt="Quiver logo"
                class="logo-image"
            >
        </div>
 
        <div class="auth-card">
            {% block content %}{% endblock %}
        </div>
 
        {% block footer %}{% endblock %}
 
    </div>
 
</body>
</html>
 