{% extends 'tracker/base.html' %}
{% block title %}
    {% if application %}
        Edit
    {% else %}
        New
    {% endif %}
    Application
{% endblock %}
{% block heading %}
    {% if application %}
        Edit Application
    {% else %}
        Start New Application Tracker
    {% endif %}
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% if application %}
                Save Changes
            {% else %}
                Create
            {% endif %}
        </button>
    </form>
    <p>
        Resume and cover letter selection will be available in a later version.
    </p>
    <a href="{% url 'dashboard' %}">
        Cancel
    </a>
{% endblock %}
