<!DOCTYPE html>
<html>
<head>
    <title>Quiver - New Application</title>
</head>

<body>

    <h1>Start New Application Tracker</h1>

    <nav>
        <a href="{% url 'new_application' %}">+ Add Tracker</a>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'profile' %}">Profile</a>
    </nav>

    <hr>

    <p>Company Name</p>

    <p>Job Title</p>

    <p>Date Submitted</p>

    <p>Job Description / Link</p>

    <p>Select Resume Used</p>

    <p>Select Cover Letter Used</p>

    <br>

    <a href="{% url 'dashboard' %}">Cancel</a>

    <a href="{% url 'application_tracker' %}">Create</a>

</body>
</html>