<!DOCTYPE html>
<html>
<head>
    <title>Quiver - Profile</title>
</head>

<body>

    <h1>Profile</h1>

    <nav>
        <a href="{% url 'new_application' %}">+ Add Tracker</a>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'profile' %}">Profile</a>
    </nav>

    <hr>

    <h2>Bio</h2>

    <p>Skills, hobbies, etc.</p>

    <h2>Resumes</h2>

    <p>Uploaded resumes will appear here.</p>

    <h2>Cover Letters</h2>

    <p>Uploaded cover letters will appear here.</p>

    <h2>Job Search Health Score</h2>

    <p>Health Score will appear here.</p>

</body>
</html>